/* App.css */

body, html {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  overflow-y: scroll;  /* Enable vertical scrolling */
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}
