/* Contact Page Styling */
.contact-page {
  min-height: 100vh; /* Changed from height to min-height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px; /* Added padding for better spacing */
}
.contact-page::before {
  content: "";
  display: block;
  height: 120px; /* Adjust based on navbar height */
  margin-top: -120px; /* Same value as height */
  visibility: hidden;
}
.contact-hero h2 {
  font-size: 3rem;
  color: var(--primary-color);
  margin-bottom: 10px;
  text-align: center;
}
.contact-hero p {
  font-size: 1.2rem;
  color: var(--text-color);
  max-width: 600px;
  margin: 0 auto 40px auto;
  text-align: center;
}
.contact-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.contact-card {
  background-color: var(--section-background-color);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center; /* Centering text */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex: 1 1 calc(250px + 5%); /* Adaptive sizing based on available space */
  max-width: 300px; /* Maximum width for better control */
  min-width: 200px; /* Minimum width to maintain usability */
}
.contact-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 30px var(--primary-color), 0 0 40px var(--primary-color); /* Glow effect with primary color */
}
.contact-icon {
  font-size: 2.5rem;
  color: var(--primary-color);
  margin-bottom: 10px;
}
.contact-card h3 {
  font-size: 1.8rem;
  color: var(--primary-color);
  margin-bottom: 10px;
}
.contact-card p {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 20px;
}
.contact-card a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  transition: color 0.3s ease;
}
.contact-card a:hover {
  color: var(--secondary-color);
}
/* Responsive Design */
@media (max-width: 768px) {
  .contact-cards {
    flex-direction: column;
    align-items: center;
  }
  .contact-card {
    width: 90%;
  }
  .contact-hero h2 {
    font-size: 2.5rem;
  }
  .contact-hero p {
    font-size: 1rem;
  }
}
