/* Add this to the top of your CSS (index.css or global styles) */
html {
  scroll-behavior: smooth; /* Enable smooth scrolling */
}

/* Default light theme styles */
:root {
  --primary-color: #ff6961; /* Pastel Christmas red */
  --secondary-color: #77dd77; /* Pastel Christmas green */
  --background-color: #f1f3f5;
  --text-color: #212529;
  --footer-background: #ffffff;
  --footer-text-color: #212529;
  --navbar-bg-color-rgb: 255, 255, 255; /* RGB values for light theme */
  --navbar-divider-color-rgb: 0, 0, 0; /* RGB values for light theme */
  --navbar-text-color: #212529; /* Text color for light theme */
  --bg-color: #f1f3f5; /* Background color for light theme */
  --scrollbar-bg: var(--background-color); /* Scrollbar track */
  --scrollbar-thumb: #9b9b9b; /* Scrollbar thumb */
}

/* Dark theme styles */
body[data-theme='dark'] {
  --primary-color: #ff6961; /* Pastel Christmas red */
  --secondary-color: #77dd77; /* Pastel Christmas green */
  --background-color: #121212;
  --text-color: #eaeaea;
  --footer-background: #333333;
  --footer-text-color: #eaeaea;
  --navbar-bg-color-rgb: 18, 18, 18; /* RGB values for dark theme */
  --navbar-divider-color-rgb: 234, 234, 234; /* RGB values for dark theme */
  --navbar-text-color: #eaeaea; /* Text color for dark theme */
  --bg-color: #121212; /* Background color for dark theme */
  --scrollbar-bg: var(--background-color); /* Scrollbar track */
  --scrollbar-thumb: #646464; /* Scrollbar thumb */
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s; /* Ensure smooth transition */
}

/* index.css or global styles */
body.theme-loading {
  background-color: #000 !important; /* Set background to black until theme is loaded */
}

body.theme-loaded {
  transition: background-color 0.3s ease, color 0.3s ease; /* Transition for theme */
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 12px; /* Adjust scrollbar width */
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-bg); /* Scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb); /* Scrollbar thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover); /* Scrollbar thumb hover effect */
}

/* For mobile and smaller screens */
@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
  }

  .navbar li {
    margin: 10px 0;
  }

  .project-list {
    flex-direction: column;
    align-items: center;
  }

  .project-item {
    width: 80%;
  }

  .content h2 {
    font-size: 2em;
  }

  .content p {
    font-size: 1.2em;
  }

  .cta-button {
    font-size: 1em;
    padding: 12px 25px;
  }
}